.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}
.mid-section{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    /*font-size: large;*/

}

.mid-section > p{
    color: #4d4d4d;
    font-size:16px;

}

.hero-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
    padding-right: 144px;
    gap: 10px ;
    padding-left: 144px;
}

.hero-section > div > h1{
    color: #4d4d4d;
    font-size:35px;
    font-weight:bolder;
}
.sub-hero-section > div > h1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sub-hero-section > div > p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20%;
    gap: 3%;

}

.image-container img {
    width: 3%;
    max-width: 100%;
}

.sub-hero-sectionOne{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}

.sub-hero-sectionOne> div > h1{
    color: #4d4d4d;
    font-size:35px;
    font-weight:bolder;
}
.sub-hero-sectionOne> div > h1 span{
    display: block;
    font-size:35px;
    color: #4d4d4d;
    font-weight: bold;
    align-content: center;
    text-align: center;
}
.sub-hero-sectionOne> div > p{
    display: block;
    font-size:16px;
    color: #4d4d4d;
    font-weight: normal;
    align-content: center;
    text-align: center;
}

.memberships{
    display: flex;
    color: #4d4d4d;
    justify-content: center;
    text-align: center;
    gap: 70px;
    padding-top: 30px;
    align-items: center;
}

.second-hero-section{
    display: flex;
    justify-content: space-evenly;
    color: #4d4d4d;
    padding: 80px 100px;
    align-items: center;
}

.Stats{
    display: flex;
    justify-content: normal;
    background-color: #f5f7fa;
    padding: 50px;
    color: #4d4d4d;
}

.Stats > div > h1{
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}
.stats-container {
    display: flex;
    gap: 120px;
}

.statistics-numbers div {
    flex: 1;
}

.third-hero-section{
    display: flex;
    justify-content: space-evenly;
    color: #4d4d4d;
    padding: 80px 100px;
    align-items: center;
}
.third-hero-section > div > h2{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    font-weight: bold;
    font-size: 30px;
}

.tesla{
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f7fa;
    padding: 20px 50px;
}

.image-containers{
    display: flex;
    justify-content: space-evenly;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 100px;
}
.image-box{
    position: relative;
}
.overlay-text{
    background-color: #f5f7fa;
    position: absolute;
    top: 190px;
    right: 40px;
    left: 40px;
    bottom: -55px;
    border-radius: 20px;
    box-shadow: 0 10px #e6ecf2;
}
.end-of-page{
    justify-content: center;
    text-align: center;
    background: #f5f7fa;
    padding: 20px;
}
.footer{
    display: flex;
    padding-bottom: 40px;
    background: #263238;
    justify-content: space-evenly;
}
.sign-up{
    padding: 10px;
    border-radius: 4px;
    border: none; color: #fff;
    background: #4caf4f;
}
.sign-up:hover{
    background: #6faf72;
    padding: 15px;

}

.Last_footer{

    background-color: white;
    padding: 15px;
}
.Last_footer::placeholder{
    color: white;
}