.nav{
    display: flex;
    justify-content: space-evenly;
}
.mid-section{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: large;

}

.mid-section > p{
    color: #4d4d4d;
    font-size:16px;

}

.hero-section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}

.hero-section > div > h1{
    color: #4d4d4d;
    font-size:35px;
    font-weight:bolder;
}
.sub-hero-section > div > h1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.sub-hero-section > div > p{
    display: flex;
    justify-content: center;
    align-items: center;

}